.App {
  font-family: 'Cabin Condensed', sans-serif;
}

.App .big-title {
  text-align: center;
  background: #c9dbe2;
  padding: 10px;
}

.App .big-title h1 {
  color: #000;
  letter-spacing: 4px;
  font-family: 'Cabin Condensed', sans-serif;
  border: 5px solid #000;
  padding: 3px;
}

.App .echarts-component {
  margin: 3px 5px;
  padding: 10px;
  -webkit-box-shadow: -2px -1px 34px -3px rgba(0,0,0,0.73);
  -moz-box-shadow: -2px -1px 34px -3px rgba(0,0,0,0.73);
  box-shadow: -2px -1px 34px -3px rgba(0,0,0,0.73);
}

.App .echarts-component h1 {
  margin-top: 10px;
  text-align: center;
  letter-spacing: 2px;
}

.App .randomize {
  min-width: 300px;
  max-width: 600px;
  margin: auto;
  margin-top: 30px;
  font-size: 33px;
  letter-spacing: 6px;
}

.App .control-buttons {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

pre {
  display: flex;
  justify-content: flex-start;
  font-size: 13px;
}
